* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1b2c56;
    background-image: 
        radial-gradient(at 47% 33%, hsl(214.88, 18%, 54%) 0, transparent 59%), 
        radial-gradient(at 82% 65%, hsl(214.09, 18%, 54%) 0, transparent 55%);
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.maincontainer {
    
    align-content: center;
    justify-items: center;
    padding: 48px;
    min-height: 100vh;
}

header {
    text-align: center;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: #ded3d3;
}

.sectionmid {

    min-height: 90vh;
    min-width: 90vw;
    border-radius: 8px;
    backdrop-filter: blur(18px) saturate(167%);
    -webkit-backdrop-filter: blur(18px) saturate(167%);
    background-color: rgba(28, 59, 89, 0.63);
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.text {
    align-content: center;
    justify-items: center;
    min-height: 60vh;
    margin-block: 8px;
}

.navlist {
    list-style-type: none;
    display: flex;
    column-gap: 12px;

}
.container-about {
    max-width: 60vw;
    margin: 30px auto;
    padding: 20px;
    border-radius: 8px;
    
}


.nav{
    text-decoration: none;
    color: #fff;
    column-gap: 4px;
}
.nav:hover{
    color: #7e8db3;
}

.description {
    text-align: center;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    width: 60vw;
    
}

button {
    padding: 8px 16px;
    border-radius: 8px;
    background-color: #4f5f86;
    cursor: pointer;
    border-radius: 24px;
    border: none;
    height: 32px;
    

}
button a{
    text-decoration: none;
    color: #fff;
 
}

button:hover{
    background-color: #1b2c56;
}

.listabout {
    list-style: disc;
    padding-left: 20px;
}
code {
    background-color: #1b2c56;
    padding: 2px 4px;
    border-radius: 4px;
}

.marginblock{
    margin-block: 8px;
}