<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 
    <main class="maincontainer">

        <section class="sectionmid">
            <header>
                <span>Bank Client API</span>
                <div>
                    <nav>
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About</a></li>
                            <li><a href="">Documentations</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="text">
                <h1>Welcome</h1>
                <p>This is a simple API client for the Bank API.</p>
                <p>The API is available at <a href="http://127.0.0.1:5000/apidocs">Documentations</a></p>
            </div>

        </section>

    </main>
    <footer>

    </footer>






</body>
</html>