<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
 
    <main class="maincontainer">

        <section class="sectionmid">
            <header>
                <span>Banking app API</span>
                <div>
                    <nav>
                        <ul class="navlist">
                            <li><a href="" class="nav">Home</a></li>
                            <li><a href="/about" class="nav">About</a></li>
                            <li><a href="/apidocs" class="nav">Documentations</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="text">
                <h1 style="font-size: 2.2rem; font-weight: lighter;">Welcome to the Banking app API</h1>
                <p class="description">This is a simple API client for the Bank API.
                     This API offers a suite of tools to securely manage accounts, process transactions, and access client data in real-time.  
                     Banking API can be used with any type of Banking project that needs accounts, transactions and users in JSON format. 
                    you can look documentations to check how Banking API works and feel free to enjoy it in your awesome projects!
                </p>

                <!-- <h2>How to use</h2>
                <p class="description">Banking API can be used with any type of Banking project that needs accounts, transactions and users in JSON format. 
                    you can use examples below to check how Banking API works and feel free to enjoy it in your awesome projects!
                </p> -->
               
                <button><a href="/apidocs">Documentations</a></button>
            </div>

        </section>

    </main>
    <footer>

    </footer>






</body>
</html>